<form class="form">
    <header>
        Create new flow
    </header>

    <div class="form-row">
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Group</mat-label>
            <mat-select>
            <mat-option value="option">Books workshop</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="form-row">
        <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea matInput></textarea>
        </mat-form-field>
    </div>

    <div class="form-row font-big">
        <button mat-flat-button color="primary">Create</button>
    </div>

</form>